.dolar-wrapper_news {
    padding: 2rem 0;
    text-align: left; 
    a {
        text-decoration: underline;
    }
    p {
        margin-bottom: 1.5rem;
    }
}
.news_title {
    margin-bottom: 1rem;
}
ul {
    li {
        margin-bottom: 1rem;
    }
}